@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .standard-image {
        @apply
        rounded-lg;
    }

    .standard-div {
        @apply
        justify-center
        items-center;
    }

    .orange-gradient {
        @apply
        bg-gradient-to-t from-custom-orange to-orange-400 min-h-screen;
    }

    .button-orange {
        @apply text-center
        bg-custom-orange
        hover:bg-gray-700
        text-white
        py-2
        px-4
        rounded
        mx-4;
    }

    .button-black {
        @apply text-center
        bg-black
        hover:bg-gray-700
        text-white
        py-2
        px-4
        rounded
        mx-4;
    }

    .button-red {
        @apply text-center
        bg-black
        hover:bg-gray-700
        text-red-500
        py-2
        px-4
        rounded
        mx-4;
    }
    .button-green {
        @apply text-center
        bg-black
        hover:bg-gray-700
        text-green-500
        py-2
        px-4
        rounded
        mx-4;
    }

    .button-white {
        @apply text-center
        bg-white-500
        hover:bg-gray-700
        text-black
        py-2
        px-4
        rounded
        mx-4;
    }

    .transform-button-click {
        @apply transition
        ease-in-out
        delay-150
        hover:-translate-y-1
        hover:scale-110
        duration-300;
    }

    .black-text-box {
        @apply
        items-center
        text-center
        bg-black
        text-custom-orange
        py-2
        px-4
        rounded
        m-4;
    }

    .white-text-box {
        @apply
        items-center
        text-center
        bg-white
        text-black
        p-5
        mt-4
        rounded
        mx-auto
        shadow-lg
        rounded-lg;
    }

    .login-signup-buttons {
        @apply
        bg-black
        hover:bg-gray-700
        text-white
        py-2
        px-4
        rounded
        mx-4
        text-align: center;
    }

    .instructions-box {
        @apply bg-white
        mx-auto
        h-auto
        w-auto
        shadow-lg
        rounded-lg
        justify-center
        items-center
        m-2
        p-2
        text-center
        grid
        grid-cols-12;
        }

    .image-size-instructions {
        @apply w-[200px]
        h-[175px];
    }

    .image-div-instructions {
        @apply max-w-md
        mx-auto
        justify-start
        col-span-2;
    }

    .instructions-div {
        @apply mb-1
        justify-start
        items-center
        col-span-10
        m-1
        p-1;
    }

    .instructions-h4 {
        @apply pb-2
        mb-2
        justify-start
        items-center;
    }

    .instructions-p {
        @apply pb-2
        mb-2
        justify-start
        items-center;
    }

    .standard-page-container {
        @apply
        mx-auto
        container
        p-4;
    }


    .create-work-out-page-textbox {
        @apply items-center
        text-center
        bg-black
        text-custom-orange
        rounded
        col-span-1
        mx-auto
        p-2;
    }

    .table-margin-padding {
        @apply
        p-2
        m-2
    }


    .balancebeam-style {
    }
    @layer base {
        h1 {
            @apply text-2xl;
        }
        h2 {
            @apply text-xl;
        }
        /* ... */
    }
}
